/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --background: #cad2c5;
    --text: #2f3e46;
    --backsplash: #354f52;
    --splashtext: #84a98c;
    --link: #52796f;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* Custom styles */
.navActive, .navActive span:hover, .navActive span:focus, .navActive span:active {
    color: var(--link);
    border-bottom: 2px solid var(--link);
    cursor: pointer;
}

.navlink span:hover {
    cursor: pointer;
    color: var(--link);
}

.link {
    color: var(--link)
}

.background {
    background-color: var(--background);
}

.backsplash {
    background-color: var(--backsplash);
}

h1, h4, span, p, a {
    color: var(--text);
}

h2, p {
    color: var(--splashtext);
}

/* Need to add navActive class to active nav elements */