/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* Color palette & Defaults */
:root {
    --brown: #5e503f;
    --tan: #c6ac8f;
    --offwhite: #eae0d5;
    --navy: #22333b;
    --darkness: #0a0908;
}

/* Custom styles */
.background {
    background-color: var(--brown);
}

.backsplash {
    background-color: var(--navy);
}

.navActive, .navActive span:hover, .navActive span:focus, .navActive span:active {
    color: var(--brown);
    border-bottom: 2px solid var(--brown);
    cursor: pointer;
}

.navlink span:hover {
    cursor: pointer;
    color: var(--brown);
}

.navlink a:hover {
    cursor: pointer;
    color: var(--brown);
}

.link {
    color: var(--offwhite)
}

.headertext {
    color: var(--brown)
}

.text1 {
    color: var(--tan);
}

.text2 {
    color: var(--navy);
}

.text3 {
    color: var(--brown);
}

h1, h4, span, a, label {
    color: var(--tan);
}

h2, h3 {
    color: var(--tan);
}

.indent {
    text-indent: 10%;
}

.revertindent {
    text-indent: 0%;
}

.cardfix {
    background-color: var(--navy);
    border-color: var(--navy);
    position: relative;
}

.projectarticle {
    position: absolute;
    top: 0;
    right: 0;
}

.projectinfo {
    display: none;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}

.githublogo {
    width: 45px;
}

.hover:hover {
    background-color: rgba(13, 13, 13, 0.5);
    transition-duration: .5s;
}

.hover:hover .projectinfo {
    display: block;
    transition-duration: .5s;
}

@media only screen and (max-width: 991px){

    .projectarticle {
        display: block;
        margin: auto;
    }
}


@media only screen and (max-width: 575px){

    .card-img {
        visibility: hidden;
    }

    .projectarticle p, a {
        text-align: center;
    }

    .projectarticle {
        position: static;
        margin: auto;
    }

    .githublogo {
        display: block;
        margin: auto;
    }

}

@media only screen and (max-width: 430px){


    .projectarticle {
        width: 100%;
    }

}